@import "../../../../style/theme.scss";

.field {
  &.recommend {
    //width: 236px;
    height: 466px;
    background-color: #3F3B38;
    overflow: hidden;
    .recommend_tab_bar {
      height: 38px;
      .recommend_tab {
        height: 38px;
        width: 120px;
        float: left;
        background-color: #2D2926;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        font-size: 14px;
        color: #999;
        &:hover {
          background-color: #33302E;
          color: #2AC1BA;
        }
        &.active {
          background-color: #3F3B38;
          cursor: default;
          color: #999;
        }
      }
    }
    .recommend_content {
      width: 240px;
      height: 428px;
      position: relative;
      &.hidden {
        display: none;
      }
      .recommend_content_item {
        &.preview {
          height: 75px;
          .recommend_content_item_main {
            padding-top: 20px;
          }
        }
        &.active {
          .recommend_content_item_info {
            border-bottom: none !important;
            .recommend_content_item_expand {
              background: url('./img/collapse.png') no-repeat !important;
            }
          }
        }
        .recommend_content_item_main {
          padding: 15px 20px 0 20px;
          cursor: pointer;

          .pic-wrapper {
            position: relative;
            width: 100px;
            margin-right: 10px;
            float: left;
            img {
              width: 100px;
              height: 60px;
            }
            .time {
              position: absolute;
              right: 0;
              bottom: 4px;
              color: #fff;
              background-color: #222222;
              padding: 0 3px;
              line-height: 15px;
            }
          }
          .info-wrapper {
            float: left;
            width: 85px;
            .title {
              color: #fff;
              height: 36px;
              margin-bottom: 10px;
              &:hover {
                color: #2ac1ba;
              }
            }
            .count {
              color: #999;
            }
          }
          .recommend_content_item_name {
            color: #FFF;
            margin-bottom: 10px;
          }
          .recommend_content_item_info {
            position: relative;
            padding-bottom: 15px;
            border-bottom: 1px solid #252525;
            .recommend_content_item_expand {
              width: 13px;
              height: 11px;
              display: inline-block;
              position: absolute;
              right: 0;
              top: 3px;
              background: url('./img/expand.png') no-repeat;
            }
            .recommend_content_item_count {
              display: inline-block;
              color: #999;
            }
          }
        }
        .recommend_content_item_detail {
          position: relative;
          background-color: #2D2925;
          color: #b3b3b3;
          padding: 15px 20px 1px 20px;
          .triangle {
            border-style: solid;
            border-width: 0 5px 5px 5px;
            color: #FFF;
            font-size: 0;
            height: 0;
            line-height: 0;
            margin: 0 auto;
            width: 0;
            border-color: transparent transparent #2D2925 transparent;
            position: absolute;
            right: 22px;
            top: -5px;
          }
          .summary {
            font-weight: bold;
            margin-bottom: 15px;
          }
          .course {
            margin-bottom: 15px;
            line-height: 12px;
            cursor: pointer;
            position: relative;
            &:hover {
              color: #2ac1ba;
            }
            &.last {
              margin-bottom: 0;
            }
            .index-block {
              //display: inline-block;
              float: left;
              width: 12px;
              height: 12px;
              background-color: #2ac1ba;
              /* vertical-align: initial; */
              line-height: 12px;
              text-align: center;
              color: black;
              margin-right: 10px;
            }
            .time-period {
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          &.olive-hidden {
            display: none;
          }
        }
      }
      .nano-pane {
        width: 7px !important;
        background: rgba(83, 79, 76, 1) !important;
        .nano-slider {
          background: rgba(124, 122, 121, 1) !important;
        }
      }
    }
  }
}