$globalFont: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;

$borderColorLight: #E2E2E2;
$borderColorDark: #B7A6A1;
$mainColor: #EC6846;
//$mainColor: #488BE8;
$darkBackground: #F9F9F9;
$avatarImageWidth: 80px;
$avatarHeight: 80px;

$fieldMarginRight: 30px;

//panel
$panelColor: #999;
$panelBackgroundColor: #FFF;
$panelBackgroundColorDark: #F9F9F9;
$panelHeaderBackgroundColor: #FFF;
$panelHeaderColor: #EC6846;
$panelHeaderBorderTopColor: #B7A6A1;
$panelHeaderTitleHighLightLineColor: #EC6846;
$panelNormalBorderColor: #E2E2E2;
$panelPrimaryBorderColor: #B7A6A1;

//link
$highLightLinkColor: #1babb4;