@import "../../../style/theme.scss";

@mixin panel-color(
  $header-bg-color,
  $highlight-color,
  $header-color,
  $color: #999,
  $bg-color:#fff,
  $bg-color-dark: #fff,
  $normal-border-color: #fff,
  $primary-border-color: #fff
) {
  background-color: $bg-color;
  border-color: $normal-border-color;
  border-top-color: $primary-border-color;
  &.dark {
    background-color: $bg-color-dark;
  }
  .header {
    background-color: $header-bg-color;
    border-color: $normal-border-color;
    .link {
      color: $color;
    }
    .title {
      .highLightLine {
        background-color: $highlight-color;
      }
      .titleContent {
        color: $header-color;
      }
      .separator {
        background-color: $normal-border-color;
      }
    }
  }
}

.panel {
  @include panel-color(
                  $panelHeaderBackgroundColor,
                  $panelHeaderTitleHighLightLineColor,
                  $panelHeaderColor,
                  $panelColor,
                  $panelBackgroundColor,
                  $panelBackgroundColorDark,
                  $panelNormalBorderColor,
                  $panelPrimaryBorderColor
  );
  border-top: {
    width: 2px;
    style: solid;
  }
  border-bottom: {
    width: 1px;
    style: solid;
  }
  border-left: {
    width: 1px;
    style: solid;;
  }
  &.last {
    border-right: {
      width: 1px;
      style: solid;
    }
  }
  .panelBody {
    padding: 20px 20px;
  }
  .ct {
    margin-bottom: 20px;
  }
  .header {
    position: relative;
    height: 37px;
    border-bottom:{
      width: 1px;
      style: solid;
    }
    border-bottom-style: solid;

    .link {
      position: absolute;
      right: 15px;
      top: 8px;
    }

    .title {
      position: relative;
      display: inline-block;

      .highLightLine {
        font-size: 0;
        height: 2px;
        position: absolute;
        top: -2px;
        width: 100%;
      }

      .titleContent {
        margin: 10px 12px 10px 25px;
        font: 16px/16px 'Microsoft YaHei', Tahoma, Arial, 宋体, sans-serif;
        font-weight: 700;
      }

      .separator {
        height: 15px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 1px;
      }
    }
  }
}