@import "../../../../style/theme.scss";

.field {
  &.tab.plain{
    .tab-item {
      display: block;
      float: left;
      font-weight: bold;
      font-size: 18px;
      color: #666;
      padding-left: 100px;
      padding-right: 100px;
      height: 50px;
      border-bottom: 1px solid #D0D7DE;
      line-height: 50px;
      text-decoration: none;
      &.active {
        color: #4f74b3;
        border-bottom: 2px solid #4f74b3;
      }
      &:link, &:visited {
        text-decoration: none;
      }
      &:hover{

      }
    }
  }
}