.hbox>div {
    float: left;
}

.displayBlock {
    border-top: 2px solid #B7A6A1;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}

.header {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #E2E2E2;
}

.header .title {
    position: relative;
    display: inline-block;
}

.header .title .orangeLine {
    background-color: #EC6846;
    font-size: 0;
    height: 2px;
    position: absolute;
    top: -2px;
    width: 100%;
}

.header .title .titleContent {
    margin: 12px 12px 12px 25px;
    color: rgb(236, 104, 70);
    font: 16px/16px 'Microsoft YaHei', Tahoma, Arial, 宋体, sans-serif;
    font-weight: 700;
}

.header .title .seperator {
    background-color: #E2E2E2;
    height: 15px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
}
