@import "./theme/1688/vars.scss";

body {
  font: $globalFont;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

.hbox > div {
  float: left;
}

.triangle-outer {
  border-color: #E2E2E2 transparent transparent transparent;
  _top: 6px;
}

.triangle-outer, .triangle-inner {
  border-style: solid;
  border-width: 5px 5px 0;
  color: #FFF;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 0 auto;
  _margin-top: -5px;
  position: relative;
  width: 0;
}

.triangle-inner {
  border-color: #FFF transparent transparent transparent;
  top: -7px;
  _top: 4px;
}

.link {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #FF7300 !important;
  }
  &.listItem {
    color: #666;
  }
  &.underline {
    text-decoration: underline;
  }
}