$globalFont: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;

$borderColorLight: #E2E2E2;
$borderColorDark: #B7A6A1;
$mainColor: #EC6846;
//$mainColor: #488BE8;
$darkBackground: #F9F9F9;
$avatarImageWidth: 80px;
$avatarHeight: 80px;

$fieldMarginRight: 30px;

$highLightLinkColor: #1babb4;