@import "../../../../style/1688/sass/src/vars.scss";

.field {
  &.text {
    font-size: 12px;
    color: #666;
    line-height: 12px;
    label {
      color: #3c3c3c;
      line-height: 12px;
      margin-bottom: 10px;
      margin-right: 3px;
      &.alignTop {
        display: block;
      }
    }
  }
}