@import "../../../style/theme.scss";

.hero {
  background-color: #fff;
  .o-container {
    margin-bottom: 20px;
  }
  .header {
    background: url('./header.png') no-repeat;
    position: relative;
    height: 92px;
    padding: 20px;
    border-bottom: 1px solid $borderColorLight;

    .link {
      position: absolute;
      right: 15px;
      top: 8px;
      color: #999;
    }

    .title {
      position: relative;
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 40px;
      .titleContent {
        color: $mainColor;
        font: 20px/20px 'Microsoft YaHei', Tahoma, Arial, 宋体, sans-serif;
        font-weight: bold;
      }
    }
  }
}